.navbar-logo {
  height: 50px;
  width: 150px;
  margin-right: 20px;
}

section {
  height: calc(100vh - 66px);
  background-image: url(backgound.png);
  position: relative;
}

section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
